body{
    background-color: white;
}
header{
    padding: 15px;
    background-color: aquamarine;
}
.topnav{
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    
}
.contact-info li{
    display: inline;
    font-size: medium;
    margin-left: 80px;
}